*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

/* shared style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html{
    color: white;
}

p{
    color: rgb(211, 209, 209)
}

@keyframes endless {
    from{
        scale: 1;
    }
    to{
        scale: 1.10;
    }
}

.nav-btn:hover, .primary-btn:hover, .secondary-btn:hover{
    color: #f0cd09;
    background: transparent;
    box-shadow: none;
    border: 1px solid #FB09B4;
}


/* navbar style  */

header {
    background-color: #1A0B2E;
    padding-top: 24px;
    padding-bottom: 24px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo span{
    font-style: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-menu a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    align-items: center;
}

.nav-btn{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: none;
    width: 135px;
    height: 44px;
    padding: 16px 12px;
    border-radius: 1000px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 #00000054;
}

#hamburger{
    margin-right: 18px;
    display: none;
}

/* banner section  */

#banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
    justify-items: center;
    position: relative;
}

.banner-container{
    max-width: 550px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.circle{
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.microphone{
    position: absolute;
    animation: endless 0.8s ease-in-out 0.5s infinite alternate;
}

#badge{
    background-color: #00FF88;
    padding: 16px 8px;
    width: 75px;
    border-radius: 1000px;
    font-weight: 600;
    font-size: 18px;
    color: #1A0B2E;
    position: absolute;
    margin: -350px 0 0 80px;
    font-size: 18px;
    box-shadow: 0 3px 27px 0 #00ff8891;    
}

.banner-content{
    margin-top: 40px;
    align-items: center;
}

.banner-content h1{
    font-weight: 800;
    font-size: 60px;
    color: white;
    margin-bottom: 8px;
}

.banner-button{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 24px;
}

.primary-btn{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: none;
    width: 201px;
    height: 44px;
    padding: 16px 12px;
    border-radius: 1000px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 #00000054;
}

.secondary-btn{
    background-color: transparent;
    padding: 20px 12px;
    width: 147px;
    height: 44px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00ff88;
    border-radius: 10000px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* about section  */

#about{
    background-color: #1A0B2E;
}

.about-content{
    margin: 0 auto;
    padding-top: 50px;
    max-width: 1200px;
    text-align: center;
}

.about-heading h2{
    font-size: 48px;
    margin-bottom: 16px;
}

.about-heading p{
    margin-bottom: 160px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 120px;
}

.about-cards h2{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

/* choose section  */

#choose{
    background-color: #230E3D;

}

#choose h2, #episodes h2, #host h2{
    font-size: 48px;
    padding-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}

.choose-card{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    padding-bottom: 120px;
}

.choose-card img{
    margin-bottom: 16px;
}

.choose-card h4{
    font-size: 24PX;
    margin-bottom: 16px;
}

.long-layout{
    grid-row: span 2;
}

.wide-layout{
    grid-column: span 2;
}

.normal-layout{
    grid-row: span 1;
    grid-column: span 1;
}

.long-layout , .wide-layout , .normal-layout{
    background-color: rgba(53, 17, 101, 0.4);
    box-shadow: 0 4px 4px 0 #0000;
    padding: 40px;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: start;
}

/* featured episodes section  */

#episodes, #host{
    background-color: #1A0B2E;
}


.episodes-card{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    
}

.episodes-card-content{
    background-color: rgba(53, 17, 101, 0.4);
    box-shadow: 0 4px 4px 0 #0000;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    
}

.episodes-card-content iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
}

.episodes-card h4{
    margin-top: 24px;
    font-size: 24px;
}

.episodes-card h4, .episodes-card p{
    padding: 0 20px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    
}

.episodes-card span{
    padding: 0 20px;
    display: flex;
    gap: 6px;
    color: #00FF88;
    font-weight: 600;
    margin-bottom: 24px;
}

/* host section  */



.host-card{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    box-shadow: 0 4px 4px 0 #0000;
    border-radius: 40px;
}

.host-content h4{
    font-size: 32px;
    margin-bottom: 16px;
}

.host-content p{
    line-height: 24px;
    margin-bottom: 16px;
}
.host-content .icons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.host-content .icons a{
    gap: 8px;
    border: 1px solid #533C72;
    padding: 6px;
    border-radius: 50%;   
}

.host-content .icons a img{
    width: 20px;
    height: 20px;
}

/* footer section  */

footer{
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 412px;
    justify-items: center;
    position: relative;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.footer-logo img{
    margin: 0 auto;
    padding-top: 120px;
    width: 410px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}

.footer-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
}

.footer-icons .icons{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-container p{
    text-align: center;
}




/* responsive section  */

@media screen and (max-width: 576px) {
    nav {
    width: 95%;
    padding-left: 10px;
    }

    #hamburger{
        display: inline;
    }

    .nav-menu, .nav-btn{
        display: none;
    }

    #banner{
        background-image: url(../assets/moblie_banner.png);
    }

    .banner-container{
        width: 400px;
    }
    .circle{
        width: 200PX;
        
    }

    .about-content{
        margin-left: 20px;
        margin-right: 20px;
    }

    .cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    }
    .choose-card, .episodes-card{
        grid-template-columns: 1fr;
        width: 95%;
    }

    #host{
        width: 100%;
    }
     .host-card{
        flex-direction: column;
        width: 95%;
     }

     .host-content{
        text-align: center;
     }

     .host-content .icons{
        justify-content: center;
     }

    .long-layout, .wide-layout, .normal-layout{
        grid-column: span 1;
        grid-row: span 1;
    }

    footer{
        background-image: url(../assets/Footer.png);
    }

    .footer-icons{
        grid-template-columns: repeat(2, 1fr);
    }

}